/servidor/Livraria.Endpoints/nbproject/private/
/servidor/Livraria.Endpoints/build/
/servidor/Livraria.Endpoints/target/
/servidor/mavenproject1/target/
/servidor/mavenproject2/target/
/servidor/Livraria/build/
/apache-tomcat/