.pedido > div > span {
    display: block
}

.pedido {
    border: solid 1px;
    margin-top: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.wrapper-imagem-produto {
    max-width: 80px;
}