.pesquisa-livros {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.acesso {
    float: right;
}
.menu > * {
    background-color: rgba(0, 0, 0,0)
}
.menu button {
    margin-left: .3em;
    padding: .3em;
    border-radius: 1em;
    background-color: var(--secondary-color);
}

.menu input {
    padding: .3em;
}